---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main";
import Mv from "../components/Mv.astro";
import MusicVideo from "../components/MusicVideo.astro";
import LatestRelease from "../components/LatestRelease.astro";
import Music from "../components/Music.astro";
import Merch from "../components/Merch.astro";
import Live from "../components/Live.astro";
import Contact from "../components/Contact.astro";
import PageLink from "../components/PageLink.astro";
---

<Layout title="expctr official website">
	<div class="header">
		<h1><a href="/"><img src="/img/logo.png" alt="" /></a></h1>
	</div>
	<!-- <Main client:only="react" />-->
	<Mv />
	<div class="content">
		<PageLink />
		<LatestRelease />
		<MusicVideo />
		<Music />
		<Live />
		<Merch />
		<Contact />
	</div>
</Layout>
<style lang="scss">
	.content {
		position: relative;
	}
	.video {
		width: 90%;
		margin: 0 auto;
		padding: 0 0 80px;
		color: #fff;
		.video__wrapper {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			width: 100%;
			@media (max-width: 768px) {
				flex-direction: column;
			}
			.video-item {
				width: 33%;
				@media (max-width: 768px) {
					width: 100%;
				}
				iframe {
					width: 100%;
					aspect-ratio: 16 / 9;
				}
			}
		}
	}

	.merch {
		width: 90%;
		margin: 0 auto;
		padding: 0 0 80px;
		color: #fff;
		.merch_wrapper {
			ul {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				width: 100%;
				list-style: none;
				gap: 10px;
				@media (max-width: 768px) {
					flex-direction: column;
				}
				li {
					width: 24%;
					@media (max-width: 768px) {
						width: 100%;
					}
					iframe {
						width: 100%;
					}
				}
			}
		}
	}
	.live {
		width: 90%;
		margin: 0 auto;
		padding: 0 0 80px;
		color: #fff;
		.live__wrapper {
			display: flex;
			justify-content: center;
			width: 100%;
			ul.live-list {
				display: flex;
				list-style: none;
				flex-wrap: wrap;
				li.live-item {
					width: 25%;
					@media (max-width: 768px) {
						width: 100%;
					}
					div.date {
					}
					div.ttl {
						font-size: 18px;
						font-weight: bold;
					}
					div {
						margin-bottom: 20px;
						img.img {
							width: 100%;
						}
					}
					div.txt {
						font-size: 16px;
					}
				}
			}
		}
	}
	.contact {
		width: 90%;
		margin: 0 auto;
		padding: 0 0 80px;
		.contact__wrapper {
			display: flex;
			justify-content: center;
			width: 100%;
			a {
				color: #fff;
				text-decoration: none;
				font-size: 1.2em;
				font-weight: 100;
				text-align: center;
			}
		}
		.sns__wrapper {
			ul {
				display: flex;
				list-style: none;
				gap: 10px;
				justify-content: space-around;
				padding-inline-start: 0px;
				margin-top: 40px;
				color: #fff;
				li {
					a {
						color: #fff;
						text-decoration: none;
						font-size: 1em;
						font-weight: 100;
						text-align: center;
					}
				}
			}
		}
	}
</style>
