---
const merches = [
    {
        url: "https://expctr.base.shop/items/81366766/widget",
    },
    { url: "https://expctr.base.shop/items/81366576/widget" },
    { url: "https://expctr.base.shop/items/79215817/widget" },
];
---

<div class="merch" id="merch">
    <h2>Merch:</h2>
    <div class="merch_wrapper">
        <ul>
            {
                merches.map((merch) => (
                    <li>
                        <iframe
                            frameborder="0"
                            height="380"
                            width="220"
                            src={merch.url}
                        />
                    </li>
                ))
            }
        </ul>
    </div>
</div>

<style lang="scss">
    .merch {
        width: 90%;
        margin: 0 auto;
        padding: 0 0 80px;
        color: #fff;
        h2 {
            margin-bottom: 20px;
            @media (max-width: 768px) {
                font-size: 28px;
            }
        }
        .merch_wrapper {
            ul {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;
                list-style: none;
                gap: 10px;
                @media (max-width: 768px) {
                    flex-direction: column;
                }
                li {
                    width: 24%;
                    @media (max-width: 768px) {
                        width: 100%;
                    }
                    iframe {
                        width: 100%;
                    }
                }
            }
        }
    }
</style>
