---
import { getMusicVideo } from "../libs/microcms";

const response = await getMusicVideo({ fields: "link" });
---

<section id="videos">
    <div class="cInner">
        <h2>official videos:</h2>
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {
                    response.contents.map((video: any) => (
                        <div class="swiper-slide">
                            <div class="video-item">
                                <iframe
                                    src={video.link}
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin"
                                    allowfullscreen
                                />
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
        <!-- If we need navigation buttons -->
        <div class="button__wrapper">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>

<script>
    import Swiper from "swiper";
    import { Navigation, Autoplay, EffectFade } from "swiper/modules";
    import "swiper/css/bundle";
    export const swiperConfig = {
        modules: [Navigation],
        loop: true,

        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        paginationClickable: true,
        spaceBetween: 10,
        breakpoints: {
            320: {
                slidesPerView: 1.3,
                spaceBetween: 10,
            },
            768: {
                slidesPerView: 1.2,
                spaceBetween: 10,
            },
            1024: {
                slidesPerView: 2.3,
                spaceBetween: 10,
            },
        },
    };

    const swiper = new Swiper(".swiper", swiperConfig);
</script>

<style lang="scss">
    section#videos {
        width: 90%;
        margin: 0 auto;
        padding: 0px 0 80px;
        color: #fff;
        @media (max-width: 768px) {
            width: 100%;
            padding: 0px 0 80px;
        }
        div.cInner {
            position: relative;
            h2 {
                margin-bottom: 20px;
                @media (max-width: 768px) {
                    font-size: 28px;
                }
            }
            div.swiper {
                position: relative;
                div.swiper-wrapper {
                    div.swiper-slide {
                        div.video-item {
                            width: 100%;
                            aspect-ratio: 16 / 9;
                            iframe {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
            .button__wrapper {
                position: absolute;
                top: 30px;
                right: 0;
                @media (max-width: 768px) {
                    top: 20px;
                }
                div.swiper-button-prev {
                    top: 0;
                    right: 60px;
                    left: auto;
                    width: 30px;
                    height: 30px;
                    border: 2px solid #fff;
                    border-radius: 50px;
                    @media (max-width: 768px) {
                        right: 50px;
                    }
                }
                div.swiper-button-next {
                    top: 0;
                    width: 30px;
                    height: 30px;
                    border: 2px solid #fff;
                    border-radius: 50px;
                }
                .swiper-button-next:after,
                .swiper-button-prev:after {
                    font-size: 14px;
                    color: #fff;
                }
            }
        }
    }
</style>
